.hero-section {
  min-height: 94vh;
  background: linear-gradient(135deg, #1e3c72, #2a5298, #4a90e2);
  color: white;
}

.hero-section .btn-primary {
  background-color: #1e3c72;
  border-color: #1e3c72;
}

.hero-section .btn-primary:hover {
  background-color: #4a90e2;
  border-color: #4a90e2;
}

.hero-section .social-icons a {
  color: white;
}

.hero-section .social-icons a:hover {
  color: #4a90e2;
}

#hero-img{
  border-radius: 100%;
}